body, html {
    height: auto !important;
}

body {
    position: relative;
}

.homeHeadBlock.selection.vputevoditel h1 {
    font-size: 52px;
}

.homeHeadBlock.selection.vputevoditel {
    background: url("img/bg-photo.svg") no-repeat center;
    background-size: cover;
}

.header-section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.homeHeadBlock.selection .header-section-title .header-section-title__first-text {
    font-size: 18px;
    color: #ffffff;
    font-weight: normal;
    text-transform: initial;
    text-align: left;
    margin-bottom: 0;
    padding-left: 0;
    line-height: 24px;
}

.header-section-title a {
    background-color: inherit;
    border: 1px solid #ffffff;
    color: #ffffff;
    min-width: 216px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .5s;
}

.header-section-title a:hover {
    background: #ffffff;
    color: #555555;
    border-color: #555555;
    transition: .5s;
}

.header-section-title a:before {
    content: '';
    background: url("img/bed.svg") no-repeat center;
    width: 25px;
    height: 22px;
    position: absolute;
    left: 30px;
    transition: .5s;
}

.header-section-title a:hover:before {
    filter: invert(100%);
    transition: .5s;
}

.header-section-title a span {
    font-size: 14px;
    position: relative;
    left: 10px;
}

.vputevoditel-navigation {
    background: #F3F3F5;
    position: relative;
    overflow: hidden;
}

.vputevoditel-navigation__section {
    display: flex;
    flex-direction: column;
}

.vputevoditel-navigation h3 {
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    margin-top: 44px;
    margin-bottom: 60px;
}

.vputevoditel-navigation__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vputevoditel-navigation__container-item {
    min-width: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    position: relative;
}

.vputevoditel-navigation__container-item span {
    font-weight: bold;
    font-size: 18px;
    color: #555555;
}

.vputevoditel-navigation__container-item:nth-child(1):after,
.vputevoditel-navigation__container-item:nth-child(2):after,
.vputevoditel-navigation__container-item:nth-child(3):after,
.vputevoditel-navigation__container-item:nth-child(4):after {
    content: '';
    background: url("img/plus-vputevoditel.svg") no-repeat center;
    display: block;
    position: absolute;
    width: 62px;
    height: 58px;
    right: -30px;
    bottom: -70px;
}

.vputevoditel-navigation__icon {
    height: 45px;
    min-width: 45px;
    margin-bottom: 18px;
    justify-content: center;
    display: flex;
}

.vputevoditel-navigation__icon-resorts {
    background: url("img/hotel.svg") no-repeat center;
    width: 32px;
    height: 43px;
    display: block;

}

.vputevoditel-navigation__icon-popular {
    background: url("img/popular.svg") no-repeat center;
    width: 43px;
    height: 36px;
    display: block;
}

.vputevoditel-navigation__icon-tours {
    background: url("img/guide.svg") no-repeat center;
    display: block;
    width: 29px;
    height: 40px;
}

.vputevoditel-navigation__icon-aquaparks {
    background: url("img/aqua-park.svg") no-repeat center;
    display: block;
    width: 33px;
    height: 33px;
}

.vputevoditel-navigation__icon-useful {
    background: url("img/like.svg") no-repeat center;
    display: block;
    width: 31px;
    height: 35px;
}

.vputevoditel-navigation__icon-get {
    background: url("img/map-location.svg") no-repeat center;
    display: block;
    width: 37px;
    height: 36px;
}

.vputevoditel-navigation__icon-visas {
    background: url("img/passport.svg") no-repeat center;
    display: block;
    width: 27px;
    height: 37px;
}

.vputevoditel-navigation__icon-transport {
    background: url("img/bus.svg") no-repeat center;
    display: block;
    width: 40px;
    height: 26px;
}

.vputevoditel-navigation__icon-medicine {
    background: url("img/vaccine.svg") no-repeat center;
    display: block;
    width: 25px;
    height: 38px;
}

.vputevoditel-navigation__icon-food {
    background: url("img/fruit.svg") no-repeat center;
    display: block;
    width: 35px;
    height: 35px;
}

.vputevoditel-resorts {
    position: relative;
    overflow: hidden;
}

.vputevoditel-resorts__first-block {
    display: flex;
    justify-content: space-between;
}

.vputevoditel-resorts__text {
    width: 33%;
}

.vputevoditel-information-card {
    width: 100%;
    max-width: 402px;
    display: flex;
    flex-direction: column;
    transition: .5s;
    position: relative;
    z-index: 200;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0 10px 36px -18px #333;
}

.vputevoditel-information-card__image {
    border-radius: 5px;
}

.vputevoditel-information-card__season-summer {
    background: url("img/sea.jpg") no-repeat center;
    background-size: 100% auto;
    height: 195px;
}

.vputevoditel-information-card__season-winter {
    background: url("img/shifaaz-shamoon-1113388-unsplash.jpg") no-repeat center;
    background-size: 100% auto;
    height: 195px;
}

.vputevoditel-information-card__mud {
    background: url("img/vputevoditel-mud@2x.png") no-repeat center;
    background-size: 100% auto;
    height: 167px;
}

.vputevoditel-information-card__doctor {
    background: url("img/vputevoditel-doctor@2x.png") no-repeat center;
    background-size: 100% auto;
    height: 167px;
}

.vputevoditel-information-card__spa {
    background: url("img/vputevoditel-spa@2x.png") no-repeat center;
    background-size: 100% auto;
    height: 167px;
}

.vputevoditel-information-card__price-food {
    background: url("img/vputevoditel-price-food@2x.png") no-repeat center;
    background-size: 100% auto;
    height: 174px;
}

.vputevoditel-information-card__kitchen {
    background: url("img/vputevoditel-kitchen@2x.png") no-repeat center;
    background-size: 100% auto;
    height: 174px;
}

.vputevoditel-information-card__nesebr-food {
    background: url("img/vputevoditel-nesebr-food@2x.png") no-repeat center;
    background-size: 100% auto;
    height: 174px;
}

.vputevoditel-information-card__vlas-food {
    background: url("img/vputevoditel-vlas-food@2x.png") no-repeat center;
    background-size: 100% auto;
    height: 174px;
}

.vputevoditel-information-card__text {
    min-height: 65px;
    max-height: 70px;
    display: flex;
    background: #ffffff;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
}

.vputevoditel-information-card__text span {
    color: #555555;
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-left: 22px;
    margin-right: 20px;
}

.vputevoditel-resorts__section h2 {
    margin-top: 41px;
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 15px;
}

.vputevoditel-resorts__text p {
    font-size: 18px;
    color: #555555;
    line-height: 24px;
}

.vputevoditel-information-card:hover {
    filter: brightness(70%);
    transition: .5s;
}

.vputevoditel-resorts__bg {
    font-size: 200px;
    font-weight: bold;
    color: #F9856E;
    position: absolute;
    right: 90px;
    opacity: 0.1;
    z-index: -1;
}

.vputevoditel-resorts__housing,
.internal-vputevoditel-page__housing {
    margin-top: 60px;
    margin-bottom: 70px;
}

.internal-vputevoditel-page__housing {
    overflow: hidden;
}

.vputevoditel-resorts__housing h3 {
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}

.vputevoditel-medicine {
    background: #F3F3F5;
    position: relative;
    z-index: 190;
}

.vputevoditel-medicine__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.vputevoditel-title {
    font-size: 36px;
    color: #333333;
    font-weight: bold;
}

.vputevoditel-medicine__section .vputevoditel-title {
    margin-top: 44px;
    margin-bottom: 31px;
}

.vputevoditel-medicine__block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 51px;
    margin-bottom: 100px;
    position: relative;
}

.vputevoditel-medicine__text {
    max-width: 834px;
    font-size: 18px;
    color: #555555;
    line-height: 24px;
}

.vputevoditel-medicine__block:after {
    content: 'МЕДИЦИНА';
    font-size: 200px;
    color: #ffffff;
    position: absolute;
    font-weight: bold;
    z-index: 0;
    opacity: 0.5;
    left: 90px;
    bottom: -113px;
}

.vputevoditel-medicine__img-bg {
    background: url(img/medinst044@2x.png) no-repeat center;
    background-size: 100% auto;
    position: absolute;
    height: 700px;
    width: 644px;
    left: -100px;
    z-index: 190;
    bottom: -22px;
    transform: rotate(30deg);
}

.vputevoditel-food {
    position: relative;
    overflow: hidden;
    padding-top: 44px;
}

.vputevoditel-food__left-column {
    max-width: 66.666667%;
    position: relative;
}

.vputevoditel-food__block-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 45px;
    position: relative;
    background: #ffffff;
}

.vputevoditel-food__block-info .vputevoditel-information-card {
    margin-bottom: 35px;
}

.vputevoditel-food__block-info .vputevoditel-information-card:nth-child(1),
.vputevoditel-food__block-info .vputevoditel-information-card:nth-child(3) {
    margin-right: 10px;
}

.vputevoditel-food .vputevoditel-title {
    margin-bottom: 31px;
}

.vputevoditel-food__left-column-text {
    font-size: 18px;
    color: #555555;
    line-height: 24px;
    z-index: 3;
    position: relative;
}

.vputevoditel-food__right-image {
    background: url("img/fruct@2x.png") no-repeat center;
    background-size: 100% auto;
    width: 693px;
    height: 1247px;
    position: absolute;
    right: -200px;
    bottom: 0;
    z-index: 1;
}

.vputevoditel-food__background {
    position: absolute;
    font-size: 200px;
    color: #F9856E;
    font-weight: bold;
    opacity: 0.1;
    right: -350px;
    top: 158px;
    z-index: 2;
}

.vputevoditel-transport-buss__img {
    background: url("img/vputevoditel-buss@2x.png") no-repeat center;
    background-size: 100% auto;
    max-width: 578px;
    width: 100%;
    height: 227px;
    position: relative;
    left: -80px;
}

.vputevoditel-transport-buss {
    position: relative;
    background: url("img/mountains-vputevoditel-bg@2x.png") no-repeat center;
    background-size: 100% 100%;
}

.vputevoditel-transport-buss__section {
    padding-bottom: 0 !important;
}

.vputevoditel-transport {
    background: #F2F2F2;
    position: relative;
    overflow: hidden;
}

.vputevoditel-transport__text {
    max-width: 853px;
    margin-top: 35px;
    margin-bottom: 38px;
    font-size: 18px;
    color: #555555;
    line-height: 24px;
}

.vputevoditel-information-card__four-block {
    max-width: 294px !important;
}

.vputevoditel-transport__block-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.vputevoditel-information-card__auto {
    background: url("img/vputevod-auto@2x.png") no-repeat center;
    background-size: 100% auto;
    height: 174px;
}

.vputevoditel-information-card__taxi {
    background: url("img/vputev-taxi@2x.png") no-repeat center;
    background-size: 100% auto;
    height: 174px;
}

.vputevoditel-information-card__transfer {
    background: url("img/vputevod-transfer.png") no-repeat center;
    background-size: 100% auto;
    height: 174px;
}

.vputevoditel-information-card__public-transport {
    background: url("img/vputevod-social@2x.png") no-repeat center;
    background-size: 100% auto;
    height: 174px;
}

.vputevoditel-transport__button {
    max-width: 246px;
    width: 100%;
    height: 50px;
    display: flex;
    margin: 54px auto 40px;
    background: #F9856E;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.vputevoditel-transport__button:hover {
    background: #D27866;
    transition: .3s;
}

.vputevoditel-transport__button span {
    color: #ffffff;
    font-size: 16px;
}

.vputevoditel-transport__section {
    position: relative;
}

.vputevoditel-transport__text-bg {
    font-size: 200px;
    font-weight: bold;
    color: #FFFFFF;
    position: absolute;
    opacity: 0.5;
    right: 0;
    top: 30px;
}

.vputevoditel-viza__country {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 60px;
}

.vputevoditel-viza__country-block {
    max-width: 186px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.vputevoditel-viza__country-block-img {
    min-width: 137px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.vputevoditel-viza__country-block-russia {
    background: url("img/russia-vputevod@2x.png") no-repeat center;
    background-size: 100% auto;
    width: 137px;
    height: 95px;
    display: block;
    border-radius: 5px;
 }

.vputevoditel-viza__country-block-ukraine {
    background: url("img/ukraine-vputevod@2x.png") no-repeat center;
    background-size: 100% auto;
    width: 137px;
    height: 95px;
    display: block;
    border-radius: 5px;
}

.vputevoditel-viza__country-block-belorussia {
    background: url("img/bellorus-vputevod@2x.png") no-repeat center;
    background-size: 100% auto;
    width: 137px;
    height: 95px;
    display: block;
    border-radius: 5px;
}

.vputevoditel-viza__country-block-european {
    background: url("img/euro-vputevod@2x.png") no-repeat center;
    background-size: 100% auto;
    width: 137px;
    height: 95px;
    display: block;
    border-radius: 5px;
}

.vputevoditel-viza__country-block-america {
    background: url("img/usa-vputevod@2x.png") no-repeat center;
    background-size: 100% auto;
    width: 137px;
    height: 95px;
    display: block;
    border-radius: 5px;
}

.vputevoditel-viza__country-block-canada {
    background: url("img/canada-vputevod.png") no-repeat center;
    background-size: 100% auto;
    width: 137px;
    height: 95px;
    display: block;
    border-radius: 5px;
}

.vputevoditel-viza__country-block-title {
    font-weight: bold;
    color: #555555;
    font-size: 18px;
}

.vputevoditel-viza__text {
    max-width: 853px;
    font-size: 18px;
    color: #555555;
    line-height: 24px;
    margin-top: 31px;
    margin-bottom: 48px;
}

.vputevoditel-viza {
    margin-top: 44px;
    overflow: hidden;
}

.vputevoditel-road {
    overflow: hidden;
}

.vputevoditel-road__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vputevoditel-road__section-country {
    position: relative;
    max-width: 272px;
    width: 100%;
    margin-bottom: 20px;
}

.vputevoditel-road__section-country:after {
    content: '';
    background: #E8E8E8;
    width: 1px;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 10px;
}

.vputevoditel-road__section-country:last-child:after {
    content: '';
    background: #E8E8E8;
    width: 0;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
}

.vputevoditel-road__section-title {
    font-weight: bold;
    display: block;
    margin-bottom: 24px;
    font-size: 20px;
    color: #333333;
}

.vputevoditel-road__section-country-list li a {
    color: #1FA1AF;
    font-size: 18px;
    margin-bottom: 18px;
    position: relative;
    margin-left: 30px;
    display: block;
}

.vputevoditel-road__section-country-list li a:before {
    content: '';
    background: url("img/tire.png") no-repeat center;
    width: 12px;
    height: 4px;
    position: absolute;
    bottom: 7px;
    left: -30px;
}

.vputevoditel-aquapark {
    overflow: hidden;
    position: relative;
}

.vputevoditel-aquapark__container {
    position: relative;
}

.vputevoditel-aquapark__block-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.vputevoditel-aquapark__block-info .vputevoditel-information-card {
    margin-bottom: 52px;
}

.vputevoditel-aquapark__block-info .vputevoditel-information-card:nth-child(1),
.vputevoditel-aquapark__block-info .vputevoditel-information-card:nth-child(3) {
    margin-right: 10px;
}

.vputevoditel-aquapark__left-column {
    max-width: 66.666667%;
    position: relative;
    margin-top: 31px;
}

.vputevoditel-aquapark__left-column p {
    color: #555555;
    font-size: 18px;
    line-height: 24px;
}

.vputevoditel-information-card__action {
    background: url("img/vputevoditel-action.png") no-repeat center;
    background-size: 100% auto;
    height: 174px;
}

.vputevoditel-information-card__aquapolis {
    background: url("img/vputevod-aquapolis@2x.png") no-repeat center;
    background-size: 100% auto;
    height: 174px;
}

.vputevoditel-information-card__atlantis {
    background: url("img/vputevod-atlantida@2x.png") no-repeat center;
    background-size: 100% auto;
    height: 174px;
}

.vputevoditel-information-card__aqua-paradise {
    background: url("img/vputevod-paradise@2x.png") no-repeat center;
    background-size: 100% auto;
    height: 174px;
}

.vputevoditel-aquapark__right-img {
    background: url("img/бассейн@2x.png") no-repeat center;
    background-size: 100% auto;
    position: absolute;
    right: -400px;
    width: 1150px;
    height: 925px;
}

.vputevoditel-attractions {
    position: relative;
    background: url("img/attractions-vputevod@2x.png") no-repeat center;
    width: 100%;
    background-size: 118% 107% !important;
    overflow: hidden;
}

.vputevoditel-title__white {
    color: #ffffff !important;
    text-align: center;
}

.vputevoditel-attractions__section-main-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.vputevoditel-notes__section-main-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.vputevoditel-information-card__nesebr-info {
    background: url("img/nesebr-info-vputev@2x.png") no-repeat center;
    background-size: 101% auto;
    height: 362px;
}

.vputevoditel-information-card__monasteries {
    background: url("img/monasteries-vputevod@2x.png") no-repeat center;
    background-size: 101% auto;
    height: 362px;
}

.vputevoditel-information-card__fortress {
    background: url("img/fortresses-vputevod@2x.png") no-repeat center;
    background-size: 101% auto;
    height: 362px;
}

.vputevoditel-information-card__caves {
    background: url("img/caves-vputevod@2x.png") no-repeat center;
    background-size: 101% auto;
    height: 362px;
    width: 100.1%;
}

.vputevoditel-attractions__container .vputevoditel-title {
    margin-top: 40px;
    margin-bottom: 54px;
}

.vputevoditel-attractions__first-text {
    font-size: 18px;
    color: #CECDCD;
    max-width: 834px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    line-height: 24px;
}

.vputevoditel-attractions__title-another {
    font-size: 28px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.vputevoditel-attractions__section-another-info,
.vputevoditel-notes__section-another-info {
    display: flex;
    justify-content: space-between;
}

.vputevoditel-notes__section-another-info {
    margin-top: 66px;
}

.vputevoditel-attractions__list,
.vputevoditel-notes__list-info {
    max-width: 33%;
    width: 100%;
}

.vputevoditel-attractions__paragraph,
.vputevoditel-notes__paragraph {
    font-size: 18px;
    color: #CECDCD;
    line-height: 24px;
    margin-bottom: 30px;
    margin-left: 35px;
    position: relative;
    display: flex;
    align-items: center;
}

.vputevoditel-notes__paragraph {
    color: #1FA1AF;
}

.vputevoditel-attractions__paragraph i,
.vputevoditel-notes__paragraph i {
    background: url("img/tire.png") no-repeat center;
    min-width: 12px;
    min-height: 2px;
    height: 4px;
    display: flex;
    margin-right: 35px;
    align-self: flex-start;
    margin-top: 11px;
}

.vputevoditel-attractions__paragraph p,
.vputevoditel-notes__paragraph p {
    margin-bottom: 0;
}

.vputevoditel-excursion {
    position: relative;
    overflow: hidden;
}

.vputevoditel-excursion__animale-img {
    background: url("img/animale-vputevod@2x.png") no-repeat center;
    background-size: 100% auto;
    max-width: 1042px;
    width: 100%;
    height: 551px;
    position: absolute;
    right: -31%;
    bottom: 0;
    z-index: 500;
}

.vputevoditel-information-card__vine {
    background: url("img/vputevod-vine@2x.png") no-repeat center;
    background-size: 100% auto;
    height: 174px;
}

.vputevoditel-information-card__zoopark {
    background: url("img/vputevod-zoopark@2x.png") no-repeat center;
    background-size: 100% auto;
    height: 174px;
}

.vputevoditel-information-card__fish {
    background: url("img/vputevod-fish@2x.png") no-repeat center;
    background-size: 100% auto;
    height: 174px;
}

.vputevoditel-information-card__daiving {
    background: url("img/vputevod-daiving@2x.png") no-repeat center;
    background-size: 100% auto;
    height: 174px;
}

.vputevoditel-excursion .vputevoditel-title {
    margin-bottom: 20px;
}

.vputevoditel-notes {
    position: relative;
    background: #F2F2F2;
    overflow: hidden;
}

.vputevoditel-notes .vputevoditel-title {
    margin-top: 47px;
    margin-bottom: 52px;
    text-align: center;
}

.vputevoditel-information-card__private-arenda {
    background: url("img/private-arenda-vputevod@2x.png") no-repeat center;
    background-size: 100% auto;
    height: 174px;
}

.vputevoditel-information-card__svoi-hod {
    background: url("img/svoi-hod-vputevod@2x.png") no-repeat center;
    background-size: 100% auto;
    height: 174px;
}

.vputevoditel-information-card__rent-house {
    background: url("img/rent-house-vputevod@2x.png") no-repeat center;
    background-size: 100% auto;
    height: 174px;
}

.vputevoditel-information-card__rental-brokers {
    background: url("img/rental-brokers-vputevod@2x.png") no-repeat center;
    background-size: 100% auto;
    height: 174px;
}

.vputevoditel-aquapark__bg {
    position: absolute;
    font-size: 200px;
    color: #ffffff;
    font-weight: bold;
    bottom: -30px;
    right: -100px;
    opacity: .3;
}

.vputevoditel-excursion__title-bg {
    position: absolute;
    font-size: 200px;
    font-weight: bold;
    color: #F9856E;
    opacity: .1;
    top: 100px;
    right: -200px;
}

.vputevoditel-notes__title-bg {
    position: absolute;
    font-size: 200px;
    color: #ffffff;
    font-weight: bold;
    opacity: .3;
    left: 0;
    bottom: -95px;
    white-space: nowrap;
}

.vputevoditel-resorts__housing-list,
.internal-vputevoditel-page__housing-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.vputevoditel-resorts__housing-item,
.internal-vputevoditel-page__housing-item {
    /*max-width: 294px;*/
    /*width: 100%;*/
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 10px 36px -18px #333;
    margin-bottom: 20px;
}

.vputevoditel-resorts__housing-list .dataOffersBlock,
.internal-vputevoditel-page__housing-list .dataOffersBlock {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}


.vputevoditel-resorts__housing-list .presentDayPriceBlock,
.internal-vputevoditel-page__housing-list .presentDayPriceBlock {
    right: 10px;
}

.vputevoditel-resorts__housing h3 {
    margin-bottom: 30px;
}

.vputevoditel-resorts__cart-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 66%;
}

.vputevoditel-resorts__cart-block .vputevoditel-information-card:first-child {
    margin-right: 10px;
}

.vputevoditel-medicine .vputevoditel-information-card:nth-child(1),
.vputevoditel-medicine .vputevoditel-information-card:nth-child(2) {
    margin-right: 10px;
}

.vputevoditel-transport__block-info .vputevoditel-information-card {
    margin-right: 10px;
    margin-bottom: 30px;
}

.vputevoditel-resorts__housing-list .slick-dots,
.internal-vputevoditel-page__housing-list .slick-dots {
    bottom: -45px;
}

.vputevoditel-resorts__housing-list .slick-dots li button,
.internal-vputevoditel-page__housing-list .slick-dots li button {
    width: 40px;
    height: 10px;
    background: transparent;
    border: 1.5px solid #F9856E;
    border-radius: 10px;
}

.vputevoditel-resorts__housing-list .slick-dots .slick-active button,
.internal-vputevoditel-page__housing-list .slick-dots .slick-active button{
    background: #F9856E;
}

.vputevoditel-resorts__housing-list .slick-dots li,
.internal-vputevoditel-page__housing-list .slick-dots li {
    width: 40px;
    height: 10px;
}

.vputevoditel-resorts__housing-list .slick-dots li button:before,
.internal-vputevoditel-page__housing-list .slick-dots li button:before {
    content: '';
}

.vputevoditel-notes__section-main-info .vputevoditel-information-card {
    margin-right: 10px;
    margin-bottom: 30px;
}

.vputevoditel-resorts__housing-list .slick-prev,
.vputevoditel-resorts__housing-list .slick-next {
    z-index: 1;
}

.vputevoditel-resorts__housing-list .slick-prev {
    left: 12px;
}

.vputevoditel-resorts__housing-list .slick-next {
    right: 12px;
}

.vputevoditel-attractions__section-main-info .vputevoditel-information-card__four-block {
    margin-right: 10px;
    margin-bottom: 30px;
}

.vputevoditel-attractions__section-main-info .vputevoditel-information-card__four-block:last-child {
    margin-right: 0;
}

@media screen and (min-width: 1700px) {
    .vputevoditel-food__right-image {
        right: 0;
    }

    .vputevoditel-excursion__animale-img {
        right: -20%;
    }
}

@media screen and (min-width: 2000px) {
    .vputevoditel-excursion__animale-img {
        right: -10%;
    }
}

@media screen and (min-width: 2300px) {
    .vputevoditel-excursion__animale-img {
        right: 0;
    }
}

@media screen and (max-width: 1430px) {
    .vputevoditel-excursion__animale-img {
        right: -40%;
    }
}

@media screen and (max-width: 1285px) {
    .vputevoditel-excursion__animale-img {
        right: -45%;
    }
}

@media screen and (max-width: 1260px) {
    .vputevoditel-food__right-image {
        top: 0;
    }

    .vputevoditel-aquapark__left-column,
    .vputevoditel-food__left-column {
        max-width: 100%;
    }

    .vputevoditel-aquapark__right-img,
    .vputevoditel-food__right-image {
        display: none;
    }

    .vputevoditel-aquapark__block-info,
    .vputevoditel-food__block-info {
        justify-content: space-around;
    }

    .vputevoditel-excursion__animale-img {
        display: none;
    }

}

@media screen and (max-width: 1257px) {
    .vputevoditel-information-card__four-block {
        max-width: 402px !important;
    }

    .vputevoditel-information-card__four-block:nth-child(2),
    .vputevoditel-information-card__four-block:nth-child(4) {
        margin-right: 0;
    }

    .vputevoditel-transport__block-info {
        justify-content: space-around;
    }

    .vputevoditel-attractions__section-main-info {
        justify-content: space-around;
    }

    .vputevoditel-notes__section-main-info {
        justify-content: space-around;
    }
}

@media screen and (max-width: 1215px) {
    .vputevoditel-navigation__container-item:nth-child(1):after, .vputevoditel-navigation__container-item:nth-child(2):after, .vputevoditel-navigation__container-item:nth-child(3):after, .vputevoditel-navigation__container-item:nth-child(4):after {
        display: none;
    }
}

@media screen and (max-width: 1199.98px) {
    .vputevoditel-resorts__first-block {
        flex-direction: column;
    }

    .vputevoditel-resorts__text {
        width: 100%;
    }

    .vputevoditel-resorts__cart-block {
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .vputevoditel-medicine__block {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .vputevoditel-medicine__block .vputevoditel-information-card {
        margin-bottom: 30px;
    }

    .vputevoditel-attractions {
        background-size: cover;
    }

    .header-section-title {
        padding-left: 20px;
        padding-right: 20px;
    }

    .vputevoditel-road__section-country:after {
        display: none;
    }

    .vputevoditel-medicine__img-bg {
        display: none;
    }
}

@media screen and (max-width: 991.98px) {
    .homeHeadBlock.selection .header-section-title .header-section-title__first-text {
        text-align: center;
    }

    .header-section-title a {
        margin-top: 30px;
    }

    .header-section-title {
        flex-wrap: wrap;
        justify-content: center;
    }

    .vputevoditel-food__right-image {
        display: none;
    }

    .vputevoditel-food__left-column {
        max-width: 100%;
    }

    .vputevoditel-resorts__bg,
    .vputevoditel-medicine__block:after,
    .vputevoditel-transport__text-bg,
    .vputevoditel-aquapark__bg,
    .vputevoditel-excursion__title-bg,
    .vputevoditel-notes__title-bg,
    .vputevoditel-food__background {
        display: none;
    }

    .vputevoditel-transport__block-info {
        justify-content: space-around;
    }

    .vputevoditel-resorts .vputevoditel-information-card {
        margin-bottom: 30px;
    }

    .vputevoditel-food__block-info {
        justify-content: space-around;
    }

    .vputevoditel-road__section {
        flex-wrap: wrap;
    }

    .vputevoditel-medicine__block {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 854px) {
    .vputevoditel-attractions__section-main-info {
        justify-content: space-around;
    }
}

@media screen and (min-width: 784px) and (max-width: 969.98px) {
    .vputevoditel-viza__country-block {
        max-width: 100%;
        min-width: 186px;
        width: 25%;
    }

    .vputevoditel-viza__country {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 854px) {
    .vputevoditel-food__block-info {
        justify-content: center;
    }

    .vputevoditel-information-card {
        margin-right: 5px !important;
        margin-left: 5px !important;
    }

    .vputevoditel-road__section {
        justify-content: space-around;
    }
}

@media screen and (max-width: 767px) {
    .homeHeadBlock.selection.vputevoditel h1 {
        font-size: 30px;
        line-height: 40px;
    }
}

@media screen and (max-width: 680px) {
    .vputevoditel-attractions__section-another-info, .vputevoditel-notes__section-another-info {
        flex-direction: column;
    }

    .vputevoditel-attractions__list, .vputevoditel-notes__list-info {
        max-width: 100%;
    }
}

@media screen and (max-width: 620px) {
    .vputevoditel-transport__block-info .vputevoditel-information-card {
        margin-right: 0;
    }

    .vputevoditel-title {
        font-size: 28px !important;
    }

    .vputevoditel-attractions__container .vputevoditel-title {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 475px) {
    .homeHeadBlock.selection.vputevoditel .language {
        display: none;
    }

    .vputevoditel-attractions__paragraph, .vputevoditel-notes__paragraph {
        margin-left: 0;
    }
}

@media screen and (max-width: 440px) {
    .vputevoditel-information-card__image {
        height: 120px !important;
    }

    .vputevoditel-attractions__section-main-info .vputevoditel-information-card__image {
        height: 320px !important;
    }
}

@media screen and (max-width: 412px) {
    .vputevoditel-viza__country {
        justify-content: center;
    }
}




.internal-vputevoditel-page__other {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.internal-vputevoditel-page__other-block {
    cursor: pointer;
    height: 25px;
    display: flex;
    align-items: center;
}

.internal-vputevoditel-page__other-btn-span.color-orange {
    color: #F9856E;
}

.internal-vputevoditel-page .internal-vputevoditel-page__other-btn {
    background: #1FA1AF;
    width: 30px;
    height: 4px;
    display: block;
    border-radius: 15px;
    padding: 0;
    position: relative;
    margin-right: 22px;
}

.internal-vputevoditel-page .internal-vputevoditel-page__other-btn:before {
    content: '';
    background: #1FA1AF;
    width: 30px;
    height: 4px;
    display: block;
    border-radius: 15px;
    padding: 0;
    position: absolute;
    margin-right: 22px;
    top: 8px;
}

.internal-vputevoditel-page .internal-vputevoditel-page__other-btn:after {
    content: '';
    background: #1FA1AF;
    width: 30px;
    height: 4px;
    display: block;
    border-radius: 15px;
    padding: 0;
    position: absolute;
    margin-right: 22px;
    bottom: 8px;
}

.internal-vputevoditel-page__other-block.color-orange .internal-vputevoditel-page__other-btn,
.internal-vputevoditel-page__other-block.color-orange .internal-vputevoditel-page__other-btn:before,
.internal-vputevoditel-page__other-block.color-orange .internal-vputevoditel-page__other-btn:after {
    background: #F9856E;
}

.left-block-menu {
    position: absolute;
    left: -100%;
    top: 0;
    bottom: 0;
    height: 100%;
    padding-top: 62px;
    display: flex;
    width: 100%;
    transition: 0.5s;
}

.left-block-menu.active {
    left: 0;
}

.left-block-menu__container {
    box-shadow: 0 10px 20px 0 rgba(121, 119, 119, 0.29);
    height: 100%;
    background: #ffffff;
    border-top-right-radius: 5px;
    position: relative;
    z-index: 300;
    width: 100%;
    max-width: 480px;
    padding: 20px;
}

.left-block-menu__hollow-block {
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
}

.left-block-menu__section-menu {
    display: flex;
    border-bottom: 1px solid #F5F5F5;
}

.left-block-menu__section-info {
    position: relative;
}

.left-block-menu__tab-content {
    background: #ffffff;
    color: #1FA1AF;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.left-block-menu__tab-content a {
    color: #1FA1AF;
    line-height: 24px;
}

.left-block-menu__section-title {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    display: block;
    font-weight: bold;
    font-size: 20px;
    color: #555555;
}

.left-block-menu__section-menu.active .left-block-menu__tab-content {
    max-height: 100vh;
    margin-bottom: 25px;
    transition: .3s;
}

.left-block-menu__section-menu.active .left-block-menu__section-title {
    color: #F9856E;
}

.left-block-menu__section-icon {
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 12px;
}

.left-block-menu__section-icon i {
    display: block;
}

.left-block-menu__icon-resorts {
    background: url("img/seaside-resorts/hotel__vputevod.svg") no-repeat center;
    width: 17px;
    height: 22px;
}

.left-block-menu__icon-medicine {
    background: url("img/seaside-resorts/vaccine__vputevod.svg") no-repeat center;
    width: 16px;
    height: 24px;
}

.left-block-menu__icon-nutrition {
    background: url("img/seaside-resorts/fruit__vputevod.svg") no-repeat center;
    width: 22px;
    height: 22px;
}

.left-block-menu__icon-transport {
    background: url("img/seaside-resorts/bus__vputevod.svg") no-repeat center;
    width: 25px;
    height: 32px;
}

.left-block-menu__icon-visas {
    background: url("img/seaside-resorts/passport__vputevod.svg") no-repeat center;
    width: 16px;
    height: 21px;
}

.left-block-menu__icon-getting-there {
    background: url("img/seaside-resorts/map-location__vputevod.svg") no-repeat center;
    width: 22px;
    height: 21px;
}

.left-block-menu__icon-water-parks {
    background: url("img/seaside-resorts/aqua-park__vputevod.svg") no-repeat center;
    width: 20px;
    height: 20px;
}

.left-block-menu__icon-sights {
    background: url("img/seaside-resorts/sights__vputevod.svg") no-repeat center;
    width: 23px;
    height: 21px;
}

.left-block-menu__icon-tours {
    background: url("img/seaside-resorts/like__vputevod.svg") no-repeat center;
    width: 19px;
    height: 21px;
}

.left-block-menu__icon-useful-know {
    background: url("img/seaside-resorts/guide__vputevod.svg") no-repeat center;
    width: 19px;
    height: 25px;
}

.left-block-menu__section-icon.active .left-block-menu__icon-resorts {
    background: url("img/seaside-resorts/hotel__orange__vputevod.svg") no-repeat center;
    width: 17px;
    height: 22px;
}

.left-block-menu__section-icon.active .left-block-menu__icon-medicine {
    background: url("img/seaside-resorts/vaccine__orange__vputevod .svg") no-repeat center;
    width: 16px;
    height: 24px;
}

.left-block-menu__section-icon.active .left-block-menu__icon-nutrition {
    background: url("img/seaside-resorts/fruit__orange__vputevod.svg") no-repeat center;
    width: 22px;
    height: 22px;
}

.left-block-menu__section-icon.active .left-block-menu__icon-transport {
    background: url("img/seaside-resorts/bus__orange__vputevod.svg") no-repeat center;
    width: 25px;
    height: 32px;
}

.left-block-menu__section-icon.active .left-block-menu__icon-visas {
    background: url("img/seaside-resorts/passport__orange__vputevod.svg") no-repeat center;
    width: 16px;
    height: 21px;
}

.left-block-menu__section-icon.active .left-block-menu__icon-getting-there {
    background: url("img/seaside-resorts/map-location__orange__vputevod.svg") no-repeat center;
    width: 22px;
    height: 21px;
}

.left-block-menu__section-icon.active .left-block-menu__icon-water-parks {
    background: url("img/seaside-resorts/aqua-park__orange__vputevod.svg") no-repeat center;
    width: 20px;
    height: 20px;
}

.left-block-menu__section-icon.active .left-block-menu__icon-sights {
    background: url("img/seaside-resorts/sights__orange__vputevod.svg") no-repeat center;
    width: 23px;
    height: 21px;
}

.left-block-menu__section-icon.active .left-block-menu__icon-tours {
    background: url("img/seaside-resorts/like__orange__vputevod.svg") no-repeat center;
    width: 19px;
    height: 21px;
}

.left-block-menu__section-icon.active .left-block-menu__icon-useful-know {
    background: url("img/seaside-resorts/guide__orange__vputevod.svg") no-repeat center;
    width: 19px;
    height: 25px;
}

.accordion dl {
    border-bottom: 1px solid #F5F5F5;
}

.accordion dt {
    display: flex;
}

.accordion dd,
.accordion__panel {
    background-color: #ffffff;
    font-size: 1em;
    line-height: 1.5em;
}

.accordion p {
    padding: 1em 2em 1em 2em;
}

.accordion {
    position: relative;
    background-color: #ffffff;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2em 0 2em 0;
}

.accordionTitle,
.accordion__Heading {
    background-color: #ffffff;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    text-decoration: none;
    color: #555555;
    font-size: 20px;
    transition: background-color 0.5s ease-in-out;
    width: 100%;
    padding-left: 20px;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
    color: #F9856E;
}


.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.accordionItem {
    height: auto;
    overflow: hidden;
    max-height: 50em;
    transition: max-height 0.5s;
}

@media screen and (min-width: 48em) {
    .accordionItem {
        max-height: 15em;
        transition: max-height 0.5s;
    }
}

.accordionItem.is-collapsed {
    max-height: 0;
}

.no-js .accordionItem.is-collapsed {
    max-height: auto;
}

.animateIn {
    -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
    animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
    -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
    animation: accordionOut 0.45s alternate ease-in-out both 1;
}


@keyframes accordionIn {
    0% {
        opacity: 0;
        transform: scale(0.9) rotateX(-60deg);
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes accordionOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.9) rotateX(-60deg);
    }
}

@media (max-width: 575.98px) {
    .accordionTitle, .accordion__Heading {
        font-size: 14px;
    }

    .left-block-menu__tab-content {
        font-size: 14px;
    }
}

.vputevoditel-resorts__housing-item img {
    padding: 0 !important;
}

.internal-vputevoditel-page__housing-list {
    margin-bottom: 35px !important;
}

.internal-vputevoditel-page__border-top {
    border-top: 1px solid rgba(112, 112, 112, .1);
}

.internal-vputevoditel-page__articles {
    overflow: hidden;
}

.vputevoditel-medicine__block a {
    text-decoration: none !important;
}

.internal-vputevoditel-page__articles .vputevoditel-medicine__block {
    margin-top: 0;
}

.internal-vputevoditel-page__articles .vputevoditel-information-card {
    margin-left: 10px;
    margin-right: 10px;
}

.internal-vputevoditel-page__housing h3,
.internal-vputevoditel-page__articles h3 {
    margin-bottom: 10px;
}

.internal-vputevoditel-page__menu-list .vputevoditel-navigation__container-item {
    min-width: 184px;
}

.internal-vputevoditel-page__menu-list h3 {
    margin-bottom: 40px;
}

.internal-vputevoditel-page__menu-list .vputevoditel-navigation__container-item:nth-child(1):after,
.internal-vputevoditel-page__menu-list .vputevoditel-navigation__container-item:nth-child(2):after,
.internal-vputevoditel-page__menu-list .vputevoditel-navigation__container-item:nth-child(3):after,
.internal-vputevoditel-page__menu-list .vputevoditel-navigation__container-item:nth-child(4):after {
    display: none;
}

.internal-vputevoditel-page__menu-list .vputevoditel-navigation__container-item span {
    font-size: 16px;
}

.vputevoditel-navigation__container-item a {
    text-decoration: none !important;
}

.internal-vputevoditel-page__housing-list .slick-prev {
    left: 12px;
    z-index: 1;
}

.internal-vputevoditel-page__housing-list .slick-next {
    right: 12px;
    z-index: 1;
}

@media (min-width: 1200px) {
    .internal-vputevoditel-page__articles .vputevoditel-information-card {
        height: 200px;
    }
}

@media (max-width: 667.89px) {
    .internal-vputevoditel-page__housing {
        margin-bottom: 0;
    }
}